

.App {
  padding: 0%;
  margin:0%;
  height: 90%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  /* text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #373a41b9;
  border-radius: 0.4em; */
}

.App-header {
  background-color: #272b33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.4em;
}

.App-link {
  color: #61dafb;
}


