.auth-container{ 
    padding: 2em;
    border: 1 px solid #000000a1;
    border-radius: 0.4em;
    box-shadow: 2px 4px 20px #0000008f;
    background-color: rgba(0, 0, 0, 0.726);
    color: rgb(182, 182, 182);
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    

    
}
.button-submit {
    padding: .4em;
    height: 2.5em;
    border-color: teal;
    background-color:rgba(0, 128, 128, 0.5);
    color:white;
    border-radius: 4px;
    width: 100%;
}
.button-submit:hover {
    background-color: teal
}

.login-col {
    border-left: 1px solid black;
}
.button {
    padding: .4em;
    height: 2.5em;
    border-color:white;
    color:white;
    border-radius: 4px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.192);
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.76);
    color:black;
}